body {
    font-family: Arial, sans-serif;
    font-size: 100%;
    background-color: #bbcde5;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;

}

header {
    padding: 50px 0;
    background-color: #1C5D99;

}

h1,
h2 {
    color: #639FAB;
    text-align: center;
}

nav {
    background-color: #639FAB;
    border-color: white;
    min-height: 64px;
}

nav li {
    float: left;
    width: 100px;
}

nav a {
    display: block;
    color: white;
    background-color: #639FAB;
    line-height: 4em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

nav li a:hover {
    color: #639FAB;
    background-color: white;

}

p {
    font-size: 16px;
    height: 1.3em;
    margin-top: 0.1em;
    margin-bottom: 0;
    background-color: #bbcde5;

}

footer {
    background-color: #1C5D99;
    color: white;
    padding: 20px 0;
    padding-top: 30px;
}

footer p {
    background-color: #1C5D99;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
}
.image-wrapper
{
    display: flex;

}
.image-wrapper img{
    object-fit: contain;
    width: 10%;
    height: 10%;
    margin-right: 10px;
}
.image-wrapper img + .image-wrapper img {
    margin-right: 15px;
}